<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>O  no</h1>
        <p>Maintenance is currently in progress<br>Please try again later!</p>
    </body>
</html>